body {
  background-color: #1c1d26;
  color: #999999;
  font-family: "Oldenburg";
  margin: 0 20px;
}

h1.title {
  text-align: center;
}

main article h1 {
  text-align: center;
}

main article p img {
  text-align: center;
  width: 100%;
  margin: 0 20px;
}

img {
  border-radius: 10px;
}

section#pageContent article p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-style: bold;
}

section#pageContent main article p {
  text-align: justify;
}

figcaption {
  color: #ffffff;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
}

figure.pic-banner img {
  width: 100%;
}

footer {
  border-style: double;
  border: 5px solid #999999;
  border-radius: 10px;
}

footer p {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}
