<!doctype html>
<html lang="en">
<head>
    <title>Setsafar Layout</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="google-site-verification" content="JoAp4Vk8ggpN7DvWU5ilaO4jhHWQhfcArGZEgYogoyw" />
    <meta name="msvalidate.01" content="AB5E49BE3159EBF45AC3D4B4EFC3900F" />
    <script src="/js/main.js"></script>
</head>

<body>
	<script>
                addEventListener("load", expandRootMenu);
                addEventListener("load", toggleContainer);
        </script>
	<span class="openbtn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <div id="side-nav" class="sidenav">
	<nav>navigation bar</nav>
	</div>
	<main>
		<section id="pageContent">
			<article>
				<h2>Stet facilis ius te</h2>
				<p>Lorem ipsum dolor sit amet, nonumes voluptatum mel ea, cu case ceteros cum. Novum commodo malorum vix ut. Dolores consequuntur in ius, sale electram dissentiunt quo te. Cu duo omnes invidunt, eos eu mucius fabellas. Stet facilis ius te, quando voluptatibus eos in. Ad vix mundi alterum, integre urbanitas intellegam vix in.</p>
			</article>
		</section>
	</main>
	<footer>
		<p>
			<span>Footer</span>
		</p>
	</footer>
</body>
</html>
